###### About Data
- For our project, we choose dataset from `TripAdvisor` having restaurant data across 7 major states in USA from [`kaggle`](https://www.kaggle.com/datasets/siddharthmandgi/tripadvisor-restaurant-recommendation-data-usa).
- This dataset was scraped from the TripAdvisor website and it conatins restaurant data across 20 cities in Washington, Texas, California, New York, Pensi, New Jersey and Oregon and Pennsylvania.

*Note:* Our dataset file can be accessible here on [github](https://github.com/sifat-e-noor/Recommendation-system).

###### Format and Clean the Dataset

For our further analysis to buil a resturant recommendation system, we clean and format the data set as per requirement. 

To find out issues with our choosen dataset, we will do the followings-
- Check for missing values for overall dataset
- Check closely for subtle values in other coulmn(s) through unique values except missing values column(s)
- Check closely for non-relatable strings except missing values column(s)
- Drop NaN values from required row(s)/column(s) 
- Fix unrelatable data values 
- Drop non require row(s)/column(s)
- Chnage data type (if require)
- Reorder column(s) and reset index (if require)

##### All important import(s) goes here

In [1]:
import os
import numpy as np
import pandas as pd
import requests

###### Download dataset (.csv) file from github

In [2]:
# Functin to download file from github
def file_exist(file_name):
    return file_name in os.listdir(os.getcwd())
def download_file(url,file_name):
    if file_exist(file_name):
        return
    response = requests.get(url)
    open(file_name, "wb").write(response.content)

In [3]:
# Load the dataset from git
url = "https://github.com/sifat-e-noor/Recommendation-system/raw/main/Data/TripAdvisor_RestauarantRecommendation.csv"
download_file(url,"TripAdvisor_RestauarantRecommendation.csv")
df_dataset = pd.read_csv("TripAdvisor_RestauarantRecommendation.csv")

# View the dataset's first 3 data
print(f"Our dataset's first 3 data:")
df_dataset.head(3)
# View full dataset
# df_dataset

Our dataset's first 3 data:

,Name,Street Address,Location,Type,Reviews,No of Reviews,Comments,Contact Number,Trip_advisor Url,Menu,Price_Range
0,Betty Lou's Seafood and Grill,318 Columbus Ave,"San Francisco, CA 94133-3908","Seafood, Vegetarian Friendly, Vegan Options",4.5 of 5 bubbles,243 reviews,NaN,+1 415-757-0569,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$
1,Coach House Diner,55 State Rt 4,"Hackensack, NJ 07601-6337","Diner, American, Vegetarian Friendly",4 of 5 bubbles,84 reviews,"Both times we were there very late, after 11 P...",+1 201-488-4999,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$
2,Table Talk Diner,2521 South Rd Ste C,"Poughkeepsie, NY 12601-5476","American, Diner, Vegetarian Friendly",4 of 5 bubbles,256 reviews,Waitress was very friendly but a little pricey...,+1 845-849-2839,https://www.tripadvisor.com//Restaurant_Review...,http://tabletalkdiner.com/menu/breakfast/,$$ - $$$

In [4]:
# Obtain basic info of dataset (i.e shape, row and column) 
print("Shape of dataset", df_dataset.shape)
print("Size of dataset", df_dataset.size)
print(f"It has {len(df_dataset.axes[0])} rows, and {len(df_dataset.axes[1])} columns titled ase:")
for i, col in enumerate(df_dataset.axes[1]):
    print(i+1, col)

Shape of dataset (3062, 11)
Size of dataset 33682
It has 3062 rows, and 11 columns titled ase:
1 Name
2 Street Address
3 Location
4 Type
5 Reviews
6 No of Reviews
7 Comments
8 Contact Number
9 Trip_advisor Url
10 Menu
11 Price_Range

- From the above observation, we found that our dataset has the following attriutes:

__1.__ Name (Name of restuarants), __2.__ Streest Address (Name of the Street), __3.__ Location (City and Zip code), __4.__ Type (Types of cuisines served), __5.__ Reviews (Star Ratings), __6.__ No of Reviews (No. of People who have rated), __7.__ Comments (Customer reviews), __8.__ Contact Number (USA - Phone Number), __9.__ Trip_advisor Url, __10.__ Menu URL, and __11.__ Price_Range.

- For our further analysis, We dont need columns from 8 - 10 as these columns values do not contribute in our goal's analysis(i.e 8. Contact Number, 9. Menu url, and 10. Trip Advisor Url). Therefore, to make the dataset more viusally manageable within the screensize, we discard these columns.

In [5]:
# Drop columns form 8-10(i.e 8. Contact Number, 9 Trip_advisor Url, 10 Menu) 
df_new_dataset = df_dataset.drop(df_dataset.loc[:, 'Contact Number':'Menu'].columns, axis=1)

# Rename 2 columns to check those columns' values
df_new_dataset.rename(columns = {'Street Address':'Street_Address', 'No of Reviews':'No_of_Reviews'}, inplace = True)

# View the dataset's first 3 data
print(f"Our dataset's first 3 data after dropping out 3 columns:")
# df_new_dataset.head(3)
df_new_dataset

Our dataset's first 3 data after dropping out 3 columns:

,Name,Street_Address,Location,Type,Reviews,No_of_Reviews,Comments,Price_Range
0,Betty Lou's Seafood and Grill,318 Columbus Ave,"San Francisco, CA 94133-3908","Seafood, Vegetarian Friendly, Vegan Options",4.5 of 5 bubbles,243 reviews,NaN,$$ - $$$
1,Coach House Diner,55 State Rt 4,"Hackensack, NJ 07601-6337","Diner, American, Vegetarian Friendly",4 of 5 bubbles,84 reviews,"Both times we were there very late, after 11 P...",$$ - $$$
2,Table Talk Diner,2521 South Rd Ste C,"Poughkeepsie, NY 12601-5476","American, Diner, Vegetarian Friendly",4 of 5 bubbles,256 reviews,Waitress was very friendly but a little pricey...,$$ - $$$
3,Sixty Vines,3701 Dallas Pkwy,"Plano, TX 75093-7777","American, Wine Bar, Vegetarian Friendly",4.5 of 5 bubbles,235 reviews,Not sure why I went there for the second time....,$$ - $$$
4,The Clam Bar,3914 Brewerton Rd,"Syracuse, NY 13212","American, Bar, Seafood",4 of 5 bubbles,285 reviews,Doesn't look like much from the outside but wa...,$$ - $$$
...,...,...,...,...,...,...,...,...
3057,Indigo Kitchen & Ale House,2902 164th St SW,"Lynnwood, WA 98087-3201","American, Bar, Vegetarian Friendly",4.5 of 5 bubbles,198 reviews,We had to wait a few minutes to get it but it ...,$$ - $$$
3058,City Vineyard,233 West Street,"New York City, NY 10013","American, Bar, Seafood",4.5 of 5 bubbles,374 reviews,"Came here to see Andrea Gibson perform, we wer...",$$ - $$$
3059,BRIO Tuscan Grille,3710 US Highway 9,"Freehold, NJ 07728-4801","Steakhouse, Italian, Bar",4 of 5 bubbles,211 reviews,We come to Brio once a month. They are good fo...,$$ - $$$
3060,Maywood Pancake house,92 W Pleasant Ave,"Maywood, NJ 07607-1336","American, Vegan Options, Gluten Free Options",4 of 5 bubbles,87 reviews,Stopped in yesterday for Breakfast. When in Je...,$$ - $$$
3061,Porto Leggero,Harborside Financial Center - Plaza 5,"Jersey City, NJ 07311","Italian, Vegetarian Friendly, Vegan Options",4.5 of 5 bubbles,183 reviews,First time for dinner. 2 couples. Delicious mu...,$$$$

- To find issues (i.e. missing values) in our data set, we get dataset's basic info first.

In [6]:
# View dataset's per columns overall basic info
print('Basic info of dataset:\n') 
df_new_dataset.info()
print('\n')
# Find dataset's overall missing values per columns
print('Follwing Columns have missing values:')
df_new_dataset.isnull().sum()

Basic info of dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3062 entries, 0 to 3061
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            3062 non-null   object
 1   Street_Address  3062 non-null   object
 2   Location        3062 non-null   object
 3   Type            3049 non-null   object
 4   Reviews         3062 non-null   object
 5   No_of_Reviews   3062 non-null   object
 6   Comments        2447 non-null   object
 7   Price_Range     3062 non-null   object
dtypes: object(8)
memory usage: 191.5+ KB


Follwing Columns have missing values:

Name                0
Street_Address      0
Location            0
Type               13
Reviews             0
No_of_Reviews       0
Comments          615
Price_Range         0
dtype: int64

- From above table we can see that `Type` and `comments` have 13 and 615 visible missing values. Lets drop these two columns NaN values

In [7]:
# Drop NaN values
df_new_dataset.dropna(inplace=True, axis=0)
df_new_dataset.isnull().sum()

Name              0
Street_Address    0
Location          0
Type              0
Reviews           0
No_of_Reviews     0
Comments          0
Price_Range       0
dtype: int64

- Check closely for subtle values

In [8]:
# Find unique values for each Name column to see there is any non-meaningful string exist
print(f'Name column has: {len(df_new_dataset.Name.unique())} data')
print("Unique values of "'Name'" column:")
df_new_dataset.Name.unique()

Name column has: 2101 data
Unique values of Name column:

array(['Coach House Diner', 'Table Talk Diner', 'Sixty Vines', ...,
       'BRIO Tuscan Grille', 'Maywood Pancake house', 'Porto Leggero'],
      dtype=object)

In [9]:
# As Name column has 3062 data, we can't review all unique values in bare eyes. 
# Therefore, we check closely Name column to find unrelateable string data
is_no_name = False
for name in df_new_dataset.Name:    
    if name == 'No name' and name == 'Undefined':
        is_no_name = True
        print(name)
    else:
        pass
if is_no_name == True:
    print("Unrelatable data exists")
else:
    print("No unrelateable data exist in Name column")

No unrelateable data exist in Name column

In [10]:
# Find unique values for Street_Address column to see there is any non-meaningful string exist
print(f'Street_Address column has: {len(df_new_dataset.Street_Address.unique())} data')
print("Unique values of "'Street_Address'" column:")
df_new_dataset.Name.unique()

Street_Address column has: 2231 data
Unique values of Street_Address column:

array(['Coach House Diner', 'Table Talk Diner', 'Sixty Vines', ...,
       'BRIO Tuscan Grille', 'Maywood Pancake house', 'Porto Leggero'],
      dtype=object)

In [11]:
# As Street_Address column has 2813 data, we can't review all unique values in bare eyes. 
# Therefore, we check closely Street_Address column to find unrelateable string data
is_no_address = False
for address in df_new_dataset.Street_Address:    
    if address == 'No address' and address == 'Undefined':
        is_no_address = True
        print(address)
    else:
        pass
if is_no_address == True:
    print("Unrelatable data exists")
else:
    print("No unrelateable data exists in Street_Address column")

No unrelateable data exists in Street_Address column

In [12]:
# Find unique values for Location column to see there is any non-meaningful string exist
print(f'Location column has: {len(df_new_dataset.Location.unique())} data')
print("Unique values of "'Location'" column:")
df_new_dataset.Location.unique()

Location column has: 2103 data
Unique values of Location column:

array(['Hackensack, NJ 07601-6337', 'Poughkeepsie, NY 12601-5476',
       'Plano, TX 75093-7777', ..., 'Freehold, NJ 07728-4801',
       'Maywood, NJ 07607-1336', 'Jersey City, NJ 07311'], dtype=object)

In [13]:
# As Location column has 3062 data, we can't review all unique values in bare eyes. 
# Therefore, we check closely Location column to find unrelateable string data
is_no_location = False
for location in df_new_dataset.Location:    
    if location == 'No location' and location == 'Undefined':
        is_no_location = True
        print(location)
    else:
        pass
if is_no_location == True:
    print("Unrelatable data exists")
else:
    print("No unrelateable data exist in Location column")

No unrelateable data exist in Location column

In [14]:
# Find unique values for Reviews column to see there is any non-meaningful string exist
print(f'Reviews column has: {len(df_new_dataset.Reviews.unique())} data')
print("Unique values of "'Reviews'" column:")
df_new_dataset.Reviews.unique()

Reviews column has: 5 data
Unique values of Reviews column:

array(['4 of 5 bubbles', '4.5 of 5 bubbles', '5 of 5 bubbles',
       '3.5 of 5 bubbles', '3 of 5 bubbles'], dtype=object)

In [15]:
# To increase readability, we remove redundent words from Reviews column 
df_new_dataset['Reviews'] = [n.split()[0] for n in df_new_dataset['Reviews']]

In [16]:
# Find unique values for No_of_Reviews column 
print(f'No_of_Reviews column has:{len(df_new_dataset.No_of_Reviews.unique())} data')
print("Unique values of "'No_of_Reviews'" column:")
print(df_new_dataset.No_of_Reviews.unique())

No_of_Reviews column has:693 data
Unique values of No_of_Reviews column:
['84 reviews' '256 reviews' '235 reviews' '285 reviews' '220 reviews'
 '89 reviews' '90 reviews' '258 reviews' '271 reviews' '87 reviews'
 '118 reviews' '706 reviews' '104 reviews' '314 reviews' '1,198 reviews'
 '280 reviews' '642 reviews' '928 reviews' '30 reviews' '746 reviews'
 '119 reviews' '515 reviews' '123 reviews' '189 reviews' '39 reviews'
 '742 reviews' '111 reviews' '24 reviews' '1,653 reviews' '223 reviews'
 '153 reviews' '240 reviews' '191 reviews' '198 reviews' '29 reviews'
 '214 reviews' '513 reviews' '44 reviews' '307 reviews' '660 reviews'
 '413 reviews' '28 reviews' '74 reviews' '160 reviews' '273 reviews'
 '86 reviews' '932 reviews' '378 reviews' '217 reviews' '437 reviews'
 '138 reviews' '51 reviews' '100 reviews' '219 reviews' '184 reviews'
 '11 reviews' '58 reviews' '12 reviews' '1,490 reviews' '493 reviews'
 '54 reviews' '25 reviews' '516 reviews' '282 reviews' '202 reviews'
 '114 reviews' '108 reviews' '47 reviews' '77 reviews' '166 reviews'
 '161 reviews' '165 reviews' '373 reviews' '116 reviews' '210 reviews'
 '132 reviews' '404 reviews' '46 reviews' '393 reviews' '545 reviews'
 '488 reviews' '95 reviews' '379 reviews' '171 reviews' '203 reviews'
 '65 reviews' '269 reviews' '181 reviews' '783 reviews' '182 reviews'
 '441 reviews' '262 reviews' '64 reviews' '236 reviews' '350 reviews'
 '201 reviews' '310 reviews' '332 reviews' '805 reviews' '238 reviews'
 '3,274 reviews' '130 reviews' '563 reviews' '162 reviews' '144 reviews'
 '141 reviews' '185 reviews' '150 reviews' '241 reviews' '209 reviews'
 '80 reviews' '206 reviews' '137 reviews' '428 reviews' '82 reviews'
 '311 reviews' '224 reviews' '43 reviews' '40 reviews' '395 reviews'
 '146 reviews' '317 reviews' '216 reviews' '218 reviews' '239 reviews'
 '362 reviews' '1,123 reviews' '85 reviews' '21 reviews' '443 reviews'
 '354 reviews' '55 reviews' '821 reviews' '211 reviews' '564 reviews'
 '244 reviews' '56 reviews' '270 reviews' '670 reviews' '1,633 reviews'
 '290 reviews' '13 reviews' '205 reviews' '204 reviews' '319 reviews'
 '42 reviews' '1,045 reviews' '267 reviews' '170 reviews' '147 reviews'
 '351 reviews' '2,518 reviews' '1,076 reviews' '27 reviews' '369 reviews'
 '179 reviews' '148 reviews' '377 reviews' '70 reviews' '53 reviews'
 '178 reviews' '1,117 reviews' '187 reviews' '374 reviews' '666 reviews'
 '834 reviews' '386 reviews' '942 reviews' '19 reviews' '157 reviews'
 '253 reviews' '175 reviews' '194 reviews' '232 reviews' '32 reviews'
 '113 reviews' '485 reviews' '72 reviews' '37 reviews' '88 reviews'
 '274 reviews' '276 reviews' '59 reviews' '106 reviews' '384 reviews'
 '712 reviews' '260 reviews' '498 reviews' '22 reviews' '167 reviews'
 '370 reviews' '172 reviews' '229 reviews' '69 reviews' '215 reviews'
 '324 reviews' '163 reviews' '231 reviews' '723 reviews' '36 reviews'
 '176 reviews' '521 reviews' '287 reviews' '121 reviews' '180 reviews'
 '49 reviews' '281 reviews' '133 reviews' '76 reviews' '398 reviews'
 '151 reviews' '207 reviews' '322 reviews' '356 reviews' '15 reviews'
 '304 reviews' '438 reviews' '419 reviews' '94 reviews' '1,381 reviews'
 '112 reviews' '125 reviews' '695 reviews' '26 reviews' '246 reviews'
 '937 reviews' '200 reviews' '230 reviews' '75 reviews' '544 reviews'
 '23 reviews' '136 reviews' '284 reviews' '1,021 reviews' '302 reviews'
 '254 reviews' '233 reviews' '186 reviews' '1,578 reviews' '1,129 reviews'
 '16 reviews' '829 reviews' '463 reviews' '752 reviews' '283 reviews'
 '110 reviews' '48 reviews' '91 reviews' '61 reviews' '225 reviews'
 '20 reviews' '272 reviews' '83 reviews' '406 reviews' '221 reviews'
 '96 reviews' '1,548 reviews' '159 reviews' '349 reviews' '747 reviews'
 '129 reviews' '134 reviews' '861 reviews' '190 reviews' '372 reviews'
 '156 reviews' '1,406 reviews' '1,085 reviews' '323 reviews' '115 reviews'
 '303 reviews' '659 reviews' '264 reviews' '247 reviews' '197 reviews'
 '417 reviews' '618 reviews' '392 reviews' '353 reviews' '424 reviews'
 '605 reviews' '574 reviews' '594 reviews' '876 reviews' '102 reviews'
 '60 reviews' '396 reviews' '188 reviews' '966 reviews' '222 reviews'
 '73 reviews' '301 reviews' '2,282 reviews' '71 reviews' '45 reviews'
 '1,439 reviews' '243 reviews' '394 reviews' '298 reviews' '345 reviews'
 '263 reviews' '357 reviews' '557 reviews' '342 reviews' '684 reviews'
 '35 reviews' '1,458 reviews' '278 reviews' '292 reviews' '973 reviews'
 '109 reviews' '807 reviews' '503 reviews' '131 reviews' '3,807 reviews'
 '477 reviews' '648 reviews' '99 reviews' '34 reviews' '1,237 reviews'
 '234 reviews' '843 reviews' '173 reviews' '249 reviews' '62 reviews'
 '728 reviews' '510 reviews' '326 reviews' '691 reviews' '535 reviews'
 '305 reviews' '255 reviews' '363 reviews' '1,512 reviews' '537 reviews'
 '265 reviews' '505 reviews' '329 reviews' '2,617 reviews' '623 reviews'
 '120 reviews' '174 reviews' '780 reviews' '694 reviews' '140 reviews'
 '266 reviews' '904 reviews' '128 reviews' '251 reviews' '1,096 reviews'
 '177 reviews' '364 reviews' '584 reviews' '1,564 reviews' '66 reviews'
 '383 reviews' '1,182 reviews' '849 reviews' '248 reviews' '169 reviews'
 '103 reviews' '1,360 reviews' '299 reviews' '252 reviews' '983 reviews'
 '321 reviews' '433 reviews' '226 reviews' '418 reviews' '50 reviews'
 '490 reviews' '312 reviews' '308 reviews' '2,534 reviews' '432 reviews'
 '306 reviews' '117 reviews' '139 reviews' '142 reviews' '533 reviews'
 '228 reviews' '242 reviews' '135 reviews' '561 reviews' '68 reviews'
 '149 reviews' '647 reviews' '3,095 reviews' '895 reviews' '2,306 reviews'
 '158 reviews' '154 reviews' '426 reviews' '1,657 reviews' '107 reviews'
 '152 reviews' '336 reviews' '4,620 reviews' '536 reviews' '748 reviews'
 '193 reviews' '192 reviews' '1,201 reviews' '164 reviews' '1,100 reviews'
 '388 reviews' '686 reviews' '495 reviews' '469 reviews' '465 reviews'
 '1,843 reviews' '583 reviews' '3,083 reviews' '294 reviews' '603 reviews'
 '52 reviews' '334 reviews' '126 reviews' '854 reviews' '496 reviews'
 '57 reviews' '297 reviews' '453 reviews' '63 reviews' '105 reviews'
 '338 reviews' '145 reviews' '923 reviews' '41 reviews' '291 reviews'
 '436 reviews' '98 reviews' '597 reviews' '127 reviews' '38 reviews'
 '705 reviews' '2,580 reviews' '482 reviews' '415 reviews' '410 reviews'
 '2,057 reviews' '340 reviews' '837 reviews' '1,140 reviews' '434 reviews'
 '972 reviews' '97 reviews' '101 reviews' '766 reviews' '541 reviews'
 '1,454 reviews' '425 reviews' '227 reviews' '309 reviews' '1,741 reviews'
 '320 reviews' '124 reviews' '288 reviews' '701 reviews' '777 reviews'
 '78 reviews' '489 reviews' '325 reviews' '257 reviews' '760 reviews'
 '576 reviews' '448 reviews' '430 reviews' '439 reviews' '957 reviews'
 '18 reviews' '1,089 reviews' '643 reviews' '331 reviews' '92 reviews'
 '1,277 reviews' '195 reviews' '506 reviews' '1,038 reviews' '318 reviews'
 '532 reviews' '368 reviews' '1,215 reviews' '212 reviews' '79 reviews'
 '196 reviews' '7 reviews' '1,216 reviews' '31 reviews' '183 reviews'
 '619 reviews' '81 reviews' '522 reviews' '412 reviews' '585 reviews'
 '275 reviews' '333 reviews' '300 reviews' '365 reviews' '67 reviews'
 '1,191 reviews' '708 reviews' '237 reviews' '344 reviews' '1,104 reviews'
 '1,605 reviews' '710 reviews' '1,088 reviews' '817 reviews' '33 reviews'
 '277 reviews' '213 reviews' '512 reviews' '943 reviews' '337 reviews'
 '155 reviews' '454 reviews' '995 reviews' '360 reviews' '367 reviews'
 '376 reviews' '14 reviews' '501 reviews' '530 reviews' '466 reviews'
 '811 reviews' '743 reviews' '908 reviews' '289 reviews' '359 reviews'
 '259 reviews' '630 reviews' '963 reviews' '1,331 reviews' '143 reviews'
 '1,732 reviews' '286 reviews' '461 reviews' '279 reviews' '671 reviews'
 '1,111 reviews' '268 reviews' '492 reviews' '361 reviews' '661 reviews'
 '1,103 reviews' '389 reviews' '199 reviews' '1,762 reviews' '570 reviews'
 '483 reviews' '390 reviews' '497 reviews' '823 reviews' '588 reviews'
 '343 reviews' '414 reviews' '93 reviews' '517 reviews' '346 reviews'
 '2,071 reviews' '1,047 reviews' '884 reviews' '700 reviews' '423 reviews'
 '335 reviews' '348 reviews' '567 reviews' '1,242 reviews' '794 reviews'
 '754 reviews' '3,978 reviews' '1,049 reviews' '347 reviews'
 '1,766 reviews' '3,113 reviews' '2,204 reviews' '724 reviews'
 '502 reviews' '391 reviews' '514 reviews' '713 reviews' '715 reviews'
 '1,177 reviews' '674 reviews' '579 reviews' '1,541 reviews' '409 reviews'
 '470 reviews' '2,750 reviews' '381 reviews' '1,018 reviews' '261 reviews'
 '2,987 reviews' '487 reviews' '416 reviews' '676 reviews' '397 reviews'
 '970 reviews' '1,584 reviews' '427 reviews' '886 reviews' '122 reviews'
 '919 reviews' '663 reviews' '168 reviews' '5,448 reviews' '891 reviews'
 '408 reviews' '476 reviews' '519 reviews' '295 reviews' '442 reviews'
 '818 reviews' '820 reviews' '1,520 reviews' '17 reviews' '1,283 reviews'
 '732 reviews' '445 reviews' '371 reviews' '358 reviews' '440 reviews'
 '776 reviews' '328 reviews' '446 reviews' '1,055 reviews' '1,922 reviews'
 '385 reviews' '250 reviews' '951 reviews' '620 reviews' '859 reviews'
 '422 reviews' '1,223 reviews' '339 reviews' '894 reviews' '2,676 reviews'
 '405 reviews' '965 reviews' '1,274 reviews' '330 reviews' '1,858 reviews'
 '918 reviews' '1,197 reviews' '559 reviews' '757 reviews' '692 reviews'
 '420 reviews' '3,444 reviews' '640 reviews' '1,063 reviews' '741 reviews'
 '526 reviews' '245 reviews' '1,333 reviews' '614 reviews' '1,599 reviews'
 '1,094 reviews' '1,342 reviews' '575 reviews' '616 reviews' '941 reviews'
 '4,055 reviews' '714 reviews' '352 reviews' '494 reviews' '1,003 reviews'
 '1,669 reviews' '387 reviews' '631 reviews' '382 reviews' '774 reviews'
 '572 reviews' '621 reviews' '1,026 reviews' '910 reviews' '599 reviews'
 '952 reviews' '546 reviews' '431 reviews' '625 reviews' '1,537 reviews'
 '990 reviews' '208 reviews' '764 reviews' '991 reviews' '479 reviews'
 '711 reviews' '826 reviews' '565 reviews' '296 reviews' '608 reviews']

In [17]:
# To increase readability, we remove redundent words from No_of_Reviews column
df_new_dataset['No_of_Reviews'] = [n.split()[0].replace(',', '') for n in df_new_dataset['No_of_Reviews']]

In [18]:
# As No_of_Reviews column has 810 data, we can't review all unique values in bare eyes. 
# Therefore, we check closely No_of_Reviews column to find unrelateable string data
is_no_of_reviews = False
for review in df_new_dataset.No_of_Reviews:    
    if review == 'No review' or review == 'Undefined':
        is_no_of_reviews = True
        print(review)
    else:
        pass
if is_no_of_reviews:
    print("Unrelatable data exists")
else:
    print("No unrelateable data exist in No_of_Reviews column")

No unrelateable data exist in No_of_Reviews column

In [19]:
# Find unique values for Price_Range column to see there is any non-meaningful string exist
print(f'Price_Range column has: {len(df_new_dataset.Price_Range.unique())} data')
print("Unique values of "'Price_Range'" column:")
df_new_dataset.Price_Range.unique()

Price_Range column has: 3 data
Unique values of Price_Range column:

array(['$$ - $$$', '$$$$', '$'], dtype=object)

- Assign descriptive values for price range to make the data more readable

In [20]:
# Format Price_Range column's value
def price_range(price_value):
    if price_value == '$$ - $$$':
        return  "Medium"
    elif price_value == '$$$$':
        return  "Expensive"
    else:
        return  "Cheap"    

df_new_dataset['Price_Range'] = df_new_dataset['Price_Range'].apply(price_range)

In [21]:
df_new_dataset.Price_Range.unique()

array(['Medium', 'Expensive', 'Cheap'], dtype=object)

- As we will work with states of USA, so we will derive `state`, `city` and `Zip_Code`  from `location` column.

In [22]:
# Derive City from Location
def city_location(location):
    return location.split(',')[0].strip()
df_new_dataset['City'] = df_new_dataset['Location'].apply(city_location)

In [23]:
print(f'Total no. of cities: {len(df_new_dataset.City.unique())}')
print(f'All cities: {df_new_dataset.City.unique()}')

Total no. of cities: 161
All cities: ['Hackensack' 'Poughkeepsie' 'Plano' 'Syracuse' 'Federal Way' 'Dallas'
 'Renton' 'Ithaca' 'Vancouver' 'Kirkland' 'Albany' 'Montclair' 'Princeton'
 'Bellevue' 'Saratoga Springs' 'Frisco' 'Atlantic City' 'Bothell'
 'Seattle' 'Teaneck' 'Staten Island' 'Toms River' 'Laredo' 'Amarillo'
 'New York City' 'Freehold' 'Austin' 'Yonkers' 'Fort Worth' 'Waco'
 'Kennewick' 'Ship Bottom' 'El Paso' 'Forest Hills' 'Puyallup'
 'Bellingham' 'Spokane Valley' 'Kent' 'Cherry Hill' 'New Brunswick' 'Katy'
 'Everett' 'The Woodlands' 'Cedar Grove' 'Elizabeth' 'South Ozone Park'
 'Newark' 'Richardson' 'Lubbock' 'Redmond' 'Ocean City' 'Niagara Falls'
 'Yakima' 'Brownsville' 'Corpus Christi' 'Irving' 'Houston' 'Spring'
 'Portland' 'Brick' 'Spokane' 'San Antonio' 'Highland Park' 'Tacoma'
 'Wayne' 'Schenectady' 'Flushing' 'Astoria' 'Long Island City' 'Olympia'
 'Brooklyn' 'Arlington' 'Jersey City' 'Lynnwood' 'McAllen' 'Stanwood'
 'Coupeville' 'Beach Haven' 'Woodland Park' 'East Elmhurst' 'Bronx'
 'Jamaica' 'Pharr' 'Paterson' 'Ewing' 'Barnegat Light' 'Metuchen'
 'Jackson Heights' 'Fair Lawn' 'Trenton' 'Edison' 'Buffalo' 'Yardley'
 'West Orange' 'White Plains' 'Howard Beach' 'Clifton' 'Elmwood Park'
 'Hawthorne' 'Rensselaer' 'Sunnyside' 'Garland' 'Mukilteo' 'Somerset'
 'Fort Lee' 'Totowa' 'Rochester' 'Hasbrouck Heights' 'Corona' 'Hamilton'
 'Woodside' 'Bordentown' 'Oak Harbor' 'Morrisville' 'Bronxville'
 'East Newark' 'Langley' 'Westmont' 'Surf City' 'Maywood' 'Lawrenceville'
 'Bloomfield' 'South Hackensack' 'Rochelle Park' 'Mill Creek' 'Marysville'
 'Rego Park' 'Teterboro' 'Port Townsend' 'Harrison' 'Tenafly' 'Edgewater'
 'Harvey Cedars' 'Lakewood' 'Hoboken' 'Edmonds' 'Beachwood' 'Addison'
 'Kew Gardens' 'Lincoln Park' 'Long Beach Township' 'Bayville' 'Nutley'
 'Ozone Park' 'Elmhurst' 'Freeland' 'Paramus' 'New Milford' 'Orange'
 'Collingswood' 'Passaic' 'Haddonfield' 'Haledon' 'Cresskill' 'Glendale'
 'Fairfield' 'Linden' 'Pompton Plains' 'Bogota' 'Piscataway' 'Bayside']

In [24]:
# Derive State from Location
def state_location(location):
        if len(location.split(',')) == 2:
            return location.split(',')[1][:3].strip() 
        else:
            return location.split(',')[2][:3].strip() 
        
df_new_dataset['State'] = df_new_dataset['Location'].apply(state_location)

In [25]:
print(f'Total no. of states: {len(df_new_dataset.State.unique())}')
print(f'All states: {df_new_dataset.State.unique()}')

Total no. of states: 7
All states: ['NJ' 'NY' 'TX' 'WA' 'OR' 'PA' '']

- `CA` (California) state droped out from the dataset as we droped `NaN` values from `Type` and `comments` Columns. We have five different states of USA named `New Jersy`, `New York`, `Texas`, `Washington`, `Oregon` and `Pennsylvania`.

In [26]:
# df_new_dataset[df_new_dataset['State'] == "CA"].isnull().sum()

In [27]:
# Check empty string in State column
df_new_dataset[df_new_dataset['State'] == '']

,Name,Street_Address,Location,Type,Reviews,No_of_Reviews,Comments,Price_Range,City,State
2617,The Watermark,6361 Fallsview Blvd,"Niagara Falls, Ontario L2G 3V9,","American, Canadian, Contemporary",4,1342,Our dining experience at The Watermark this pa...,Expensive,Niagara Falls,

In [28]:
# Drop empty string in State column
df_new_dataset.drop(df_new_dataset[(df_new_dataset['State'] == '')].index, inplace=True)
# df_new_dataset = df_new_dataset.drop(['Location'], axis=1)

- We droped the row that contain `province of Canada` as we will work with states of USA.

In [29]:
# Derive Zip_Code from Location
def zipcode_location(zipcode):
    return zipcode.split(",")[-1].split(" ")[-1]
        
df_new_dataset['Zip_Code'] = df_new_dataset['Location'].apply(zipcode_location)

In [30]:
# Drop Location column
df_new_dataset = df_new_dataset.drop(['Location'], axis=1)

We also droped the `Location` column as we got our desired column `City`, `State` and `Zip_Code` from it.

In [31]:
# Dataset info droping all NaN values and non required row(s) and column(s)
df_new_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2439 entries, 1 to 3061
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            2439 non-null   object
 1   Street_Address  2439 non-null   object
 2   Type            2439 non-null   object
 3   Reviews         2439 non-null   object
 4   No_of_Reviews   2439 non-null   object
 5   Comments        2439 non-null   object
 6   Price_Range     2439 non-null   object
 7   City            2439 non-null   object
 8   State           2439 non-null   object
 9   Zip_Code        2439 non-null   object
dtypes: object(10)
memory usage: 209.6+ KB

- Convert `Review` column's data to `float` and `No_of_Reviews` column's data to `int`. And reorder the columns.

In [32]:
# Review column's data to float
df_new_dataset['Reviews'] = df_new_dataset['Reviews'].apply(float)

In [33]:
# Convert No_of_Reviews column's data to int
df_new_dataset['No_of_Reviews'] = df_new_dataset['No_of_Reviews'].apply(int)

In [34]:
# Reordering columns
df_new_dataset = df_new_dataset.loc[:,['Name', 'Street_Address', 'State', 'City', 'Zip_Code', 'Type', 'Reviews', 'No_of_Reviews', 'Comments', 'Price_Range']]

- Reset index as we dropped some columns and rows

In [35]:
# Reset index of dataset
df_new_dataset.reset_index(drop=True, inplace=True)

# View dataset's overall basic info by per columns
print('Basic info of dataset:\n') 
df_new_dataset.info()

Basic info of dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2439 entries, 0 to 2438
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            2439 non-null   object
 1   Street_Address  2439 non-null   object
 2   State           2439 non-null   object
 3   City            2439 non-null   object
 4   Zip_Code        2439 non-null   object
 5   Type            2439 non-null   object
 6   Reviews         2439 non-null   float64
 7   No_of_Reviews   2439 non-null   int64
 8   Comments        2439 non-null   object
 9   Price_Range     2439 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 190.7+ KB

In [36]:
# Save data set to .csv format
df_new_dataset.to_csv('TripAdvisor_RestauarantRecommendation_cleandataset.csv')